body {
  box-sizing: border-box;
  font-family: monospace;
  margin: 50;
  padding: 10;
  color: #161616;
  background-color: rgb(245, 245, 245);
}

.entry {
  margin: 3;
}

.plus {
  color: green;
}

.minus {
  color: red;
}
