body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10 0;
  font-family: sans-serif;
}
h3 {
  border-bottom: 1px solid #bbb;
  padding: 5px;
  margin: 20px 0 10px;
}

h4 {
  border-bottom: 1px solid #bbb;
  padding: 10px;
}
.balance-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.profit-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.profit-loss-container {
  display: flex;
  justify-content: space-around;
}
.inside-profit-container {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10 50px;
  margin: 20px 5px;
}

.plus-total-container {
  border: 1px solid green;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0 50px;
  margin: 20px 0;
}

.minus-total-container {
  border: 1px solid red;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0 50px;
  margin: 20px 0;
}

.entry {
  margin: 3;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

#form {
  display: flex;
}
.form-input {
  padding: 10 20;
}
input[type="text"],
.number {
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-size: 14px;
  padding: 7px;
  width: 100%;
}
label {
  font-size: 14;
  font-weight: bold;
  color: #494949;
}

.add-btn {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px 7px 0px 0px;
  background-color: #43548a;
}
.add-btn:hover {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px 7px 0px 0px;
  background-color: #512761;
}

.delete-btn {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 20px;
  margin: 10px 7px 0px 0px;

  background-color: #512761;
}
.delete-btn:hover {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 20px;
  margin: 10px 7px 0px 0px;
  background-color: #43548a;
}

.list {
  list-style-type: none;
  padding: 10;
}
.list li {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

table {
  display: table;
  width: 100%;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  width: 20%;
}
.stock {
  display: flex;
}
#stock {
  display: flex;
}

#head-table {
  font-size: 12px;
}

#body-table {
  font-size: 20px;
}

// MODAL CSS
.modalBackground{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.modalShowing-true{
  opacity: 1;
  pointer-events: showing;
}

.modal-Bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
 top:0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}